#formand {
}

#formand-tools {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: aquamarine;
  margin-left: 100px;
}

.select-filter-by {
  margin-left: 100px;
}
/* .formand-tools {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: aquamarine;
} */

/* #formand-table {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */

table {
  border-collapse: collapse;
  width: 100%;
}

table th {
  border: 2px solid black;
}
table td {
  border: 2px solid black;
}
/* 
.tools-grid {
  margin-left: auto;
} */
/* 
#searchbar {
  margin-left: 800px;
  margin-top: 50;
  grid-column-start: 1;
}

.filter {
  margin-right: 750px;
  grid-column-start: 1;
} */
