#formand {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

table {
  border-collapse: collapse;
  width: 80%;
}

table th {
  border: 2px solid black;
}
table td {
  border: 2px solid black;
}

.tools-grid {
  margin-left: 0;
}
