#formand-view {
}

#formand-tools {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: aquamarine;
  margin-left: 100px;
}

.select-filter-by {
  margin-left: 100px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

table th {
  border: 2px solid black;
}
table td {
  border: 2px solid black;
}
