nav a {
  display: inline-block;
  color: var(--text-color-light);
  text-align: center;
  padding: 20px 16px;
  text-decoration: none;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  border: 2px solid rgb(38, 76, 89);
}

/* Change the color of links on hover */
nav a:hover {
  background-color: var(--light-green);
  color: var(--text-color-dark);
}

/* Add a color to the active/current link */
nav a.active {
  background-color: var(--light-green);
  color: var(--green);
}

.view-content {
  display: none;
  padding: 248px 2em;
}

@media (min-width: 600px) {
  .view-content {
    padding: 94px 2em;
  }
}

.view-content.active {
  display: block;
}
