nav {
  grid-template-columns: 1fr 1fr 1fr;
  display: grid;
  width: 100%;
}
nav button {
  display: inline-block;
  color: var(--text-color-light);
  text-align: center;
  padding: 20px 16px;
  text-decoration: none;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  border: 2px solid rgb(38, 76, 89);
}
nav button:hover {
  cursor: pointer;
}
