:root {
  --blue: #3595fd;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
header {
  height: auto;
  color: white;
  background-color: var(--blue);
  padding: 2em;
  text-align: center;
  font-size: xx-large;
}
footer {
  height: 50px;
  color: white;
  background-color: var(--blue);
  padding: 2em;
  text-align: center;
  margin-top: 96px;
}
#kontakt-information h2 {
  text-align: center;
}
#kontakt-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-left: 60px;
}
#kontakt-grid .kontakt-element p {
  padding-left: 15px;
}

.dialog {
  width: 400px;
  padding: 20px;
  border: 1px solid black;
}
.dialog input[type="text"],
.dialog input[type="email"],
.dialog select {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.dialog input[type="date"] {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.dialog input[type="submit"],
.dialog button,
.dialog input[type="button"] {
  background-color: var(--blue);
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.dialog input[type="submit"]:hover,
.dialog button:hover,
.dialog input[type="button"]:hover {
  cursor: pointer;
  box-shadow: 1px 1px 5px 0px #333;
  transition: box-shadow 0.3s;
}



