body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
header {
  height: auto;
  color: white;
  background-color: blue;
  padding: 2em;
  text-align: center;
  font-size: xx-large;
}
footer {
  height: 50px;
  color: white;
  background-color: blue;
  padding: 2em;
  text-align: center;
  margin-top: 96px;
}
#kontakt-information h2 {
  text-align: center;
}
#kontakt-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-left: 60px;
}
#kontakt-grid .kontakt-element p {
  padding-left: 15px;
}
