.hidden,
#login-view.hidden,
#formand-view.hidden,
#kassér-view.hidden,
#senior-view.hidden,
#junior-view.hidden {
  display: none;
}
.hasPayedTrue {
  background-color: rgb(1, 192, 1);
}
.hasPayedFalse {
  background-color: red;
}
