.hidden,
#login-view.hidden,
#formand-view.hidden,
#kassér-view.hidden,
#senior-view.hidden,
#junior-view.hidden {
  display: none;
}
.hasPayedTrue {
  background-color: rgb(85, 190, 85);
}
.hasPayedFalse {
  background-color: rgb(236, 77, 77);
}
